@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

:root {
  --font-lalezar: 'Lalezar'
}

.about{
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url('/img/banner/bgAbout.png');
  max-width: 1440px;
  padding-top: 71px;
}

.about .about_title {
  font-size: 70px;
  color: #5295BA;
  font-family: var(--font-lalezar);
  text-align: center;
  margin-bottom: 67px;
}
.about .about_title span {
  color: #fff;
  font-size: 70px;
  font-family: var(--font-lalezar);
}

/* vision y mision */
.vision_mision {
  display: flex;
  align-items: center;
}

.vision_mision .txt {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.vision_mision .txt h2,p{
  color: #fff;
  font-family: var(--font-lalezar);
}
.vision_mision .txt h2{
  font-size: 60px;
}
.vision_mision .txt p{
  font-size: 20px;
}

/* valores */
.valores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 140px;
}
.valores_grid {
  margin: auto;
  margin-right: 5rem;
}
.valores h2 {
  color: #fff;
  font-family: var(--font-lalezar);
  font-size: 42px;
  text-align: center;
}
.grid_icons {
  margin-top: 38px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  gap: 35px;
}


.icons {
  margin-bottom: 12px;
}
.icons .icon_txt {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-top: 6px;
}

@media (width: 768px) {
  .about {
    width: max-content;
    width: 768px;
  }
  .about .about_img {
    display: none;
  }
  .valores {
    align-items: center;
    justify-content: center;
  }
  .valores .valores_grid {
    margin: 0;
  }
  .valores_grid .grid_icons {
    gap: 6rem;
  }
  .vision_mision .txt {
    width: 768px;
    gap: 6rem;
  }
  .txt .txt_img.img_mision {
    background-image: url("/img/about_img/vector1.png");
    background-repeat: none;
    background-size: cover;
    width: 550px;
    padding: 2rem;
    padding-right: 6rem;
  }
  .txt .txt_img.img_vision {
    background-image: url("/img/about_img/vector2.png");
    background-repeat: none;
    background-size: cover;
    text-align: end;
    width: 550px;
    padding: 2rem;
    padding-left: 6rem;
  }
  .txt .txt_vision {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .vision_mision .txt h2 {
    font-size: 40px;
    margin: 0 40px;
  }
  .vision_mision .txt p{
    font-size: 18px;
    font-family: sans-serif;
  }
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (width: 400px), (width: 390px) {
  .about {
    width: 100vw;
  }
  .about .about_title {
    font-size: 35px;
  }
  .about .about_title span {
    font-size: 35px;
  }
  .about .about_img {
    display: none;
  }
  .valores {
    align-items: center;
    justify-content: center;
  }
  .valores .valores_grid {
    margin: 0;
  }
  .valores_grid .grid_icons {
    gap: 6rem;
  }
  .vision_mision .txt {
    gap: 6rem;
  }
  .txt .txt_img.img_mision {
    background-image: url("/img/about_img/vector1.png");
    background-repeat: none;
    background-size: cover;
    width: 100vw;
    padding: 2rem;
    /* padding-right: 6rem; */
  }
  .txt .txt_img.img_vision {
    background-image: url("/img/about_img/vector2.png");
    background-repeat: none;
    background-size: cover;
    text-align: end;
    padding: 2rem;
    /* padding-left: 6rem; */
  }
  .txt .txt_vision {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .vision_mision .txt h2 {
    font-size: 26px;
    margin: 0 40px;
  }
  .vision_mision .txt p{
    font-size: 16px;
    font-family: sans-serif;
  }
  .grid_icons {
    margin-top: 38px;
    display: grid;
    grid-template-columns: repeat(1, max-content);
    grid-template-rows: repeat(4, max-content);
  }
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icons .icon_txt  {
    font-size: 18px;
  }
  .icons img  {
    width: 160px;
  }
  .valores_grid h2 {
    font-size: 30px;
  }
}