@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

:root {
  --desktop: 1440px;
  --font-emblema: 'Emblema One';
  --font-lalezar: 'Lalezar'
}

.container_pack {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: var(--desktop);
}
.container_pack h2 {
  font-family: var(--font-lalezar);
  color: #fff;
  font-size: 57px;
}
.pack {
  text-align: center;
  margin-bottom: 88px;

}
.pack.pack.pack_digital h2 {
  margin-bottom: 4rem;
  margin-top: 3rem;
}
.pack_card {
  display: flex;
  /* margin-top: 48px; */
  color: #fff;
  gap: .3rem;
  /* border: 1px solid red; */
}
.pack_card .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
  justify-content: center;
}
.card h3 {
  font-family: var(--font-lalezar);
  font-size: 26px;
  margin-top: 10px;
}
.pack.pack.pack_web h3 {
  margin-top: 0;
}
.pack.pack_digital .pack_card {
  margin: auto;
  margin-right: 5rem;
  /* border: 1px solid red; */
  /* margin-right: 7rem; */
}
.pack.pack_digital .pack_card .card_img img{
  margin-left: 7rem;
  width: 350px;
  /* border: 1px solid red; */
}
.btnMore {
  margin-top: 2rem;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(74, 132, 199, 0.78) 0%, #242A34 100%);
  box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.75);
  padding: .3rem 1.5rem;
  font-family: var(--font-lalezar);
  font-size: 24px;
  width: max-content;
}