@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

:root {
  --desktop: 1440px;
  --font-emblema: 'Emblema One';
  --font-lalezar: 'Lalezar'
}

.container_pack {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 86px;
  max-width: var(--desktop);
}
.container_pack h2 {
  font-family: var(--font-lalezar);
  color: #fff;
  font-size: 42px;
}
.pack {
  text-align: center;
  margin-bottom: 88px;
}
.pack_card {
  display: flex;
  margin-top: 48px;
  color: #fff;
  gap: .3rem;
}
.pack_card .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card h3 {
  font-family: var(--font-lalezar);
  font-size: 33px;
}
.pack.pack_digital .pack_card .card_img img{
  margin-left: 7rem;
}
.btnMore {
  margin-top: 10px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(129, 38, 43, 0.78) 0%, #242A34 100%);
  box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.75);
  padding: .3rem 1.5rem;
  font-family: var(--font-lalezar);
  font-size: 24px;
  width: max-content;
}